{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About your health {% endblock %}</h1>
    <body>

    <ul>
      <li>Where does your health data go?</li>
      <li>How is it used in research?</li>
      <li>Who sells your health?</li>
    </ul>

    Clinical research is delayed due to unnecessarily low numbers of interested consenting participants which can often stem from fear of potential malicious use of personal health data.

    Previously, there has been no reliable and continuous platform to transparently relay information about how data is being used.
    DataGram is changing communication about the use of your health records for research. 
    </body>
{% endblock %}
