{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} View your account information {% endblock %}</h1>
    <div class="section">
        <h2>See how often your data has been sold</h2>
        <table>
            <thead>
                <tr>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> State</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
            {% for per in patient_rows %}
            <tr>
                <td> {{per.first_name}} </td>
                <td> {{per.last_name}} </td>
                <td> {{per.state}} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  </div>

  {% endblock %}
