{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Sign up for an account {% endblock %}</h1>
        <div class="container">
            <div class="section">
                <h2>Add your name and information</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form action = "/"  method = "post">
                    <input autocomplete="off" autofocus name="first_name" placeholder="First Name" type="text">
                    <input autocomplete="off" autofocus name="last_name" placeholder="Last Name" type="text">
                    <input autocomplete="off" autofocus name="birthday" placeholder="Birthday (DD/MM/YYYY)" type="text">
                    <input autocomplete="off" autofocus name="address" placeholder="Street address" type="text">
                    <input autocomplete="off" autofocus name="city" placeholder="City" type="text">
                    <input autocomplete="off" autofocus name="state" placeholder="State" type="text">
                    <input type="submit" value="Submit">
                </form>

            </div>

            <div class="section">
                <body>
                  <a class="nav-link" href="{{ url_for('logout')}}">Log out of my account</a>
                </body>
            </div>
        </div>

{% endblock %}
