{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Enter your information to find your health data sales history {% endblock %}</h1>
        <div class="container">
            <div class="section">
                <body>
                Would you like researchers insitutions to contact you about purchasing your EHR data?
                Add your name and information to join our directory of patients selling data.
              </body>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form action = "/join"  method = "post">
                    <input autocomplete="off" autofocus name="first_name" placeholder="First Name" type="text">
                    <input autocomplete="off" autofocus name="last_name" placeholder="Last Name" type="text">
                    <input autocomplete="off" autofocus name="age" placeholder="Age" type="text">
                    <input autocomplete="off" autofocus name="city" placeholder="City" type="text">
                    <input autocomplete="off" autofocus name="state" placeholder="State" type="text">
                    <input type="submit" value="Submit">
                </form>

            </div>

        </div>

{% endblock %}
